body {
  margin: 0px;
  background-image: url(https://i.pinimg.com/564x/cc/59/0f/cc590fe914e037e0007ea437db0fc830.jpg);
  background-attachment: fixed;
}

.title {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  background-color: lightgray;
  padding: 0px;
  width: 90vw;
 }
 
 .child {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  padding: 10px 0px 10px 0px;
 }
 
 .child a {
  text-align: center;
  font-size: 12px;
  width: 16.66vw;
  font-family: "Jost", sans-serif;
  font-style: normal;
  color: blue;
 }
 
 h3 {
  text-align: center;
  font-size: 11px;
  width: 16.66vw;
  font-family: "Jost", sans-serif;
  font-style: normal;
 }
 .h3 {
  text-align: center;
  font-size: 11px;
  width: 12.86vw;
  font-family: "Jost", sans-serif;
  font-style: normal;
 }


 .table {
  width: 90vw;
  margin-left: -5vw;
 }

 button {
  width: 30vw;
  background-color: #0E2D1F;
  color: white;
  border-radius: 20px;
  margin: 2vh 35vw 2vh 35vw;
  padding: 15px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  font-style: normal;
 }

h1 {
  font-family: "Balsamiq Sans", sans-serif;
  font-style: normal;
  color: #001F61;
  text-align: center;
}

h2 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  text-align: center;
  color: #001F61;
}

p {
  font-family: "Jost", sans-serif;
  font-style: normal;
  color: #001F61;
}

input {
  font-family: "Jost", sans-serif;
  font-style: normal;
  border: none;
  background-color: black;
  opacity: 30%;
  width: 26vw;
  padding: 0px;
  height: 10px;
  padding: 15px 2vw 15px 2vw;
  margin: 0 35vw 0 35vw;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
}

input::placeholder {
  color: white;
  opacity: 80%;
}
.taken {
  color: red;
}
.not-taken {
  color: black;
}
